.hero {
    height: 533px;
    background-color: #2F70FE;
    padding-top: 114px;
    color: #FFFFFF;
    text-align: center;

    @media (max-width: 768px) {
        padding-top: 56px;
    }

    &__title {
        max-width: 620px;
        margin:auto auto 7px;
        font-size: 48px;
        line-height: 65px;
        font-weight: 400;

        @media (max-width: 768px) {
            font-size: 35px;
            line-height: 45px;
        }
    }

    &__subtitle {
        max-width: 605px;
        margin: auto auto 33px;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;

        @media (max-width: 768px) {
            margin: auto auto 102px
        }
    }

    &__btn {
        width: 158px;
        height: 50px;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        background: #000000;
    }
}